// -------------------------------------------------------------------------------------------------------------------------------------------- //
// -------------------------------------------------------------- Colors ------------------------------------------------------------------ //
// -------------------------------------------------------------------------------------------------------------------------------------------- //
		
$blue: #81B6DB;  // blue  //
$green: #77DD77;    // green // 
$red: #FF4955;   // red //
$darkred: #FF5567; // darker red //
$lightred: #FFD8E8; // light red//
$orange: #FFB246;   // orange //
$white: #fff; // white // 
$black: #000; // black //
$lightgrey: #eee; // lightgrey //
$grey: #888; // grey //
$purple: #8171B6; // purple //
$lightpurple: #9181C6; // purple //
$lighterpurple: #E1D1F9; // purple //
$yellow: #FFF5AC; // yellow //
$teal: #00AAA3; // teal //
$lightteal: #30BAB3; // teal //