@import 'general/constants';
//-----------------------------------------------------------------------------
// Flash Messages
//-----------------------------------------------------------------------------

.flash {
  padding: 15px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.flash-cont {
    background-color: rgba(126,111,178, 0.9);
    position: absolute;
    top: 65px;
    width: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    text-align: center;
    border-radius: 0 0 10px 10px;
}


.flash-notice {
  display:none;
}


// This styles the flash message on the login form
.flash-alert {
    position: absolute;
    background-color: $white;
    left:20%;
    padding: 5px 10px ;
    z-index: 5;
    border-style: solid;
    border-width: 0;
    border-radius: 2px;
    top: 230px;
    color: $black;

    @include breakpoint(small) {
        left:28%;
        top: 196px;
    }

    @include breakpoint(medium) {
        left:36%;
    }
}