<div class="form">
<% @contributions.each do |contribution| %>

    <div class="field">
        <%= link_to contribution.contribution_url %>
        <%= contribution.contribution_category %>
        <% @category_name = Category.joins(:contributions).where(contributions: { id: [ contribution.id]}).all %>
        <% @category_name.each do |category| %>
            <%= category.name %>
        <% end %>
  

    </div>

        <%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>

</div>