<div class="share-network">
	<%= image_tag("social24.svg")%>
</div>

<div class="share">
	<a href="https://www.facebook.com/sharer.php?" title="Share on Facebook" target="_blank" class="btn btn-facebook">
	<%= image_tag("F_icon.png")%>
	
	<a href="http://twitter.com/home?status=<%= post.url %> " title="Share on Twitter" target="_blank" class="btn btn-twitter">
	<%= image_tag("1445737520_square-twitter.png")%>
</div>