
	<%= image_tag("social24.png")%>


<div class="share">
	<a href="https://www.facebook.com/sharer.php?" title="Share on Facebook" target="_blank" class="btn btn-facebook">
	<i class="fa fa-facebook-square"></i></a>
	
	<a href="http://twitter.com/home?status=<%= post.url %> " title="Share on Twitter" target="_blank" class="btn btn-twitter">
	<i class="fa fa-twitter-square"></i>
</div>