<div class="short-hero-cover">
                <div class="category-img-cover"></div>
                <%= image_tag('cover-photo-min', class: 'cover-photo-img') %> 
           <div class="hero-phrase">
           <% if current_page?('/profile') %>
           <% else %>
              <h1><%= @title %> </h1>
            <% end %>
          </div>
</div>