<div class="short-hero-cover">
                <div class="catgeory-img-cover"></div>
                <%= image_tag('cover-photo-min', class: 'cover-photo-img') %> 
           <div class="hero-phrase">
              <h1><%= @category_title %> </h1>
          </div>
</div>