<div class="contentBox">
<% @posts.each do |post| %>

    <div class="vid-container">
      <div onclick="play(this)">
        <div id="overlay" onclick="play(this)"> 
          <span class="post-desc">
            <%= post.description %>
          </span>
        </div>
        <%= embed(post.url) %>
      </div>        
    </div>

<% end %>
</div>