<div class="contentBox">
<% @posts.each do |post| %>

    <div class="group1">
      <div onclick="play(this)">
        <div class="overlay" onclick="play(this)"> 
          <span>
            <%= post.description %>
            <% post.categories.each do |categories| %>
          <li><%= categories.name %> </li> 
        <%end%>  
          </span>
        </div>
        <%= embed(post.url) %>
      </div>        
    </div>

<% end %>
</div>