<div class="contentBox">
<% @posts.each do |post| %>

    <div class="vid-container">
        <div class="overlay" onclick="play(this)"> 
          <span class="post-desc">
            <%= post.description %>
          </span>
        </div>
        <%= embed(post.url) %>
    </div>        
  

<% end %>
</div>