<div class="contentBox">
<% @posts.each do |post| %>

    <div class="vid-container" onclick="play(this)">
        <div class="overlay"> 
          <span class="post-desc">
            <%= post.description %>
          </span>
        </div>
		<%= youtube_video( post.url ) %>    
	</div>    
<% end %>
</div>