<div class="contentBox">
<% @posts.each do |post| %>

    <div class="group1">
      <div onclick="play(this)">
        <div class="overlay" onclick="play(this)"> 
          <span>
            <%= post.description %>
          </span>
        </div>
        <%= embed(post.url) %>
      </div>        
    </div>

<% end %>
</div>