<% @posts.each do |post| %>
  <div id="contentBox">
    <div class="group1">
      <div onclick="play(this)">
        <div id="overlay" onclick="play(this)"> 
          <span>
            <%= post.description %>
          </span>
        </div>
        <%= embed(post.url) %>
      </div>        
    </div>
  </div>
<% end %>