<div class="profile-header">
	<h4><%= current_user.username %></h4>
	<%= image_tag avatar_url(current_user) %>
</div>

<div class="contentBox">
	
		<%= render @bookmarked_posts %>

		<%= will_paginate @bookmarked_posts %>
</div>

