/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Main - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.form {
	background-color: rgba(0,0,0, 0.5);
	width: 400px;
	position: absolute;
	top: 170px;
	left:0;
    	right:0;
    	margin-left:auto;
    	margin-right:auto;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 180px -34px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 180px -34px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 180px -34px rgba(0,0,0,0.75);

		h3 {
			text-align: center;
			font-weight: 300;
			font-size: 1rem;
		}
}

.form-title {
	position: absolute;
	width: 500px;
	padding: 20px;
	left:0;
   	right:0;
   	margin-left:auto;
   	margin-right:auto;
	z-index: 9;
	text-align: center;
	top: 60px;

	h1 {
		font-weight: 300;
		font-size: 2.5rem;
		margin: 14px 0 14px 0;
	}
}

.field {
	text-align: center;
	padding: 10px;
}

.field ::-webkit-input-placeholder {
	color:$grey;
}

.input {
	width: 90%;
	height: 30px;
	padding: 8px;
	border-style: none;
	color:$purple;
	font-size: 1rem;
	font-weight:500;
	background-color: $lightgrey;
}

.submit {
	width: 50%;
	height: 50px;
	display:block;
	font-weight: 200;
	background-color: $purple;
	margin: 5% auto;
	font-size: 1.3rem;
	cursor: pointer;
	color:$white;
	border-style: none;
}

.submit:hover {
	background-color: $lightpurple;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Post - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.post-submit {
}

.post-url-field, .post-article-url-field, .post-description-field {
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - Category - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.category-submit {
}

.category-name-field {
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - Contribution - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.contribution-submit {
}

.contribution-url-field, .contribution-category-field {
}

.recommend-wrap{
	text-align: center;
	
}
.contribute-new-tag {
	text-decoration:none;
	width: 230px;
	margin: 10px auto;
}
.checkbox-field {
	padding: 0;
	margin-top: 10px;
}

.field input[type=checkbox] {
	display:none;
	margin: 0;
	padding: 0;
}

.field .checkbox_label {
	display: inline-block;
	height: 20px;
	border-radius:3px;
	line-height: 20px;
	padding: 5px 10px;
	margin: 5px;
	border-style: none;
	color:$white;
	font-size: 0.8rem;
	font-weight:200;
	cursor: pointer;
	color:$white;
	background-color: $teal;
	
}

.field .checkbox_label:hover {
	background-color: $lightteal;
}

.check_box:checked + .checkbox_label {
  	color:$purple;
	background-color: $white;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Sign In - - - - - - - - - - - - - - - - - - - - - - - - - - -   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.signin-submit {
}

.password-field, .email-field {
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - Signup Tab - - - - - - - - - - - - - - -  - - - - - - - - - -  */

.signup-form-title {
	position: absolute;
	width: 440px;
	left:0;
           right:0;
           margin: 0 auto;
	z-index: 9;
	text-align: center;
	top: 144px;
	
	a {
		text-decoration:none;
		color:$white;
		position: absolute;
		font-weight: 400;
		font-size: 1.4rem;
		width: 220px;
		padding: 15px 0px;
		background-color: rgba(0,0,0,0.5);
	}
	.login-a {
		left: 0;
	}
	.login-b {
		right: 0;
	}	

	.selected {
		background-color:$teal;	
	}
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Sign Up - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.signup-submit {
}

.password-field, .email-field , .username-field{
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Errors - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

// .error-message {
// 	position: absolute;
// 	display: inline-block;
// 	color: $red;
// 	right: 200px;
// 	font-size: 0.8rem;
// }
	
// .url-invalid {
// 	top: 250px;
// }

// .url-blank {
// 	top: 260px;
// }

// .contribution-invalid {
// 	top: 600px;
// }

.error-message {
	display: inline-block;
	position: absolute;
	color: red;
	font-size: .8rem;
	text-align: center;
}

.url-error {
	border-style: solid;
	border-width: 2px;
	border-color: red;
	background-color: rgba(255,0,0,0.2);
	height: 30px;
	width: 150px;
	top: 230px;
	right: 200px;
	padding: 5px;
}


