.login-section {
  display: none; // display none on small devices , shows via sideabar in login_sidebar html/css
  
  @include breakpoint(small) {
    display: block;
    z-index:1;
    float: right;
    margin: 0 10px;
    height: 65px;
    
// Signin/Signup Text when logged out!!
        .user-login {
            text-decoration:none;
            font-size: 0.8rem;
            line-height: 65px;
            margin: 0;
            padding: 10px;
            color:$white;
            cursor:pointer;

              &:hover {
                color:$lighterpurple;
              }
          }
 

// User Avatar Image
    .current-user {
         margin-top: 12px;

          img {
            cursor:pointer;
            display:block;
            height: 40px;
            width: 40px;
            padding:0;
            margin: 0;
            border-radius:50%;
          }
      }

// The Pop up section
    .user-popup {
        display:none;
        position:absolute;
        z-index: 2;
        top:65px;
        margin: 0;
        right:30px;
        background-color: rgba(0,0,0,0.8);
        border-radius:0 0 5px 5px;
        box-shadow: 1px 34px 92px -18px $black;

      ul {
        display: block;
        margin: 0;
        padding: 5px 20px;
        float: left;

        .popup-text {
          border-bottom: 1px solid $grey;
        }

        li {
          list-style:none;
          margin: 7px 0;

          .popup-username {
            font-weight: 500;
          }


          p {
            text-decoration: none;
            color: $white;
            font-size: 0.8rem;
            margin: 0;
          }

          a {
            text-decoration:none;
            color:$white;
            padding: 5px;
            margin: 0;
            color: $white;
            font-size: 1rem;
            margin-top: 10%;

              &:hover {
                color:#ddd;
              }
            }
           }

            .selected {
                font-weight:500;
           }
        }
     }
   }
}

  