/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  Post  - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.contentBox {
  width:100%;
  float:left;
  margin:0;
  padding:0;
  background-color: $black;
}

.main-container {
  cursor:pointer;
  width:100%;
  float:left;
  position:relative;
  overflow:hidden;
  margin:0%;
  text-decoration:none;
  border-radius:0;
  z-index:3;
  
  .post-description {
   font-size: 1.18rem;
   line-height: 1.18rem;
  }

  .created-at {
    font-size: 0.726rem;
    line-height: 0.726rem;
  }
  
  @include breakpoint(small) {
    .post-description {
     font-size: 2.02rem;
      line-height: 2.02rem;

    }

    .created-at {
      font-size: 1.24rem;
      line-height: 1.24rem;
    }
  }
  @include breakpoint(medium) {

    width: 50%;
  
    .post-description  {
     font-size: 1.3rem;
     line-height: 1.3rem;
    }

    .created-at {
      font-size: 0.8rem;
      line-height: 0.8rem;
    }
  }
}

.main-container:nth-child(9n) {
  width:100%;

  .post-description {
   font-size: 1.28rem;
   line-height: 1.28rem;
  }

  .created-at {
    font-size: 0.726rem;
    line-height: 0.726rem;
  }

  @include breakpoint(small) {
    width: 100%;

    .post-description {
      font-size: 2.02rem;
      line-height: 2.02rem;
    }

    .created-at {
      font-size: 1.24rem;
      line-height: 1.24rem;
    }
  }

  @include breakpoint(medium) {
    width: 50%;

    .post-description {
     font-size: 1.3rem;
     line-height: 1.3rem;
    }

    .created-at {
      font-size: 0.8rem;
      line-height: 0.8rem;
    }
  }
  @include breakpoint(large) {
    width: 66.6666666666667%;

    .post-description {
     font-size: 1.73rem;
     line-height: 1.73rem;
    }

    .created-at {
      font-size: 1.06rem;
      line-height: 1.06rem;
    }
  }
}
.main-container:nth-child(9n+10) {
  width:100%;

  .post-description {
   font-size: 1.18rem;
   line-height: 1.18rem;
  }

  .created-at {
    font-size: 0.726rem;
    line-height: 0.726rem;
  }

  @include breakpoint(small) {
    width: 100%;

    .post-description {
      font-size: 2.02rem;
      line-height: 2.02rem;
    }

    .created-at {
      font-size: 1.24rem;
      line-height: 1.24rem;
    }
  }

  @include breakpoint(medium) {

    width: 50%;

    .post-description {
     font-size: 1.3rem;
     line-height: 1.3rem;
    }

    .created-at {
      font-size: 0.8rem;
      line-height: 0.8rem;
    }
  }
  @include breakpoint(large) {
    width: 33.3333333333333%;

    .post-description {
     font-size: 0.87rem;
     line-height: 0.87rem;
    }

    .created-at {
      font-size: 0.53rem;
      line-height: 0.53rem;
    }
  }
}
.main-container:nth-child(9n+11) {
  width:100%;

  .post-description {
   font-size: 1.18rem;
   line-height: 1.18rem;
  }

  .created-at {
    font-size: 0.726rem;
    line-height: 0.726rem;
  }

  @include breakpoint(small) {
    width: 100%;

    .post-description {
      font-size: 2.02rem;
      line-height: 2.02rem;
    }

    .created-at {
      font-size: 1.24rem;
      line-height: 1.24rem;
    }
  }

  @include breakpoint(medium) {
    width: 50%;

    .post-description {
     font-size: 1.3rem;
     line-height: 1.3rem;
    }

    .created-at {
      font-size: 0.8rem;
      line-height: 0.8rem;
    }
  }
  @include breakpoint(large) {
    width: 33.3333333333333%;

    .post-description {
     font-size: 0.87rem;
     line-height: 0.87rem;
    }

    .created-at {
      font-size: 0.53rem;
      line-height: 0.53rem;
    }
  }
}

.main-container:nth-child(9n+5) {
  width:100%;
  float:right;

  .post-description {
   font-size: 1.18rem;
   line-height: 1.18rem;
  }

  .created-at {
    font-size: 0.726rem;
    line-height: 0.726rem;
  }

  @include breakpoint(small) {
    width: 100%;

    .post-description {
      font-size: 2.02rem;
      line-height: 2.02rem;

    }

    .created-at {
      font-size: 1.24rem;
      line-height: 1.24rem;
    }
  }

  @include breakpoint(medium) {
    width: 50%;

    .post-description {
     font-size: 1.3rem;
     line-height: 1.3rem;
    }

    .created-at {
      font-size: 0.8rem;
      line-height: 0.8rem;
    }
  }
  @include breakpoint(large) {
    width: 66.6666666666667%;

    .post-description {
     font-size: 1.73rem;
     line-height: 1.73rem;
    }

    .created-at {
      font-size: 1.06rem;
      line-height: 1.06rem;
    }
  }
}
.main-container:nth-child(9n+4) {
  width:100%;
  .post-description {
   font-size: 1.18rem;
   line-height: 1.18rem;
  }

  .created-at {
    font-size: 0.726rem;
    line-height: 0.726rem;
  }

  @include breakpoint(small) {
    width: 100%;

    .post-description {
      font-size: 2.02rem;
      line-height: 2.02rem;
    }

    .created-at {
      font-size: 1.24rem;
      line-height: 1.24rem;
    }
  }

  @include breakpoint(medium) {
    width: 50%;

    .post-description {
      font-size: 1.3rem;
      line-height: 1.3rem;
    }

    .created-at {
      font-size: 0.8rem;
      line-height: 0.8rem;
    }
  }
  @include breakpoint(large) {
    width: 33.3333333333333%;

    .post-description {
      font-size: 0.87rem;
      line-height: 0.87rem;
    }

    .created-at {
      font-size: 0.53rem;
      line-height: 0.53rem;
    }
  }
}
.main-container:nth-child(9n+6) {
  width:100%;

  .post-description {
   font-size: 1.18rem;
   line-height: 1.18rem;
  }

  .created-at {
    font-size: 0.726rem;
    line-height: 0.726rem;
  }

  @include breakpoint(small) {
    width: 100%;

    .post-description {
      font-size: 2.02rem;
      line-height: 2.02rem;
    }

    .created-at {
      font-size: 1.24rem;
      line-height: 1.24rem;
    }
  }

  @include breakpoint(medium) {
    width: 50%;
    .post-description {
      font-size: 1.3rem;
      line-height: 1.3rem;
    }

    .created-at {
      font-size: 0.8rem;
      line-height: 0.8rem;
    }
  }
  @include breakpoint(large) {
    width: 33.3333333333333%;

    .post-description {
      font-size: 0.87rem;
      line-height: 0.87rem;
    }

    .created-at {
      font-size: 0.53rem;
      line-height: 0.53rem;
    }
  }
}

.main-container:nth-child(9n+3) {
  width:100%;

  .post-description {
   font-size: 1.18rem;
   line-height: 1.18rem;
  }

  .created-at {
    font-size: 0.726rem;
    line-height: 0.726rem;
  }

  @include breakpoint(small) {
    
    .post-description {
     font-size: 2.02rem;
     line-height: 2.02rem;
    }

    .created-at {
      font-size: 1.43rem;
      line-height: 1.43rem;
    }
  }

  @include breakpoint(medium) {

    .post-description {
      font-size: 2.6rem;
      line-height: 2.6rem;
    }

    .created-at {
      font-size: 1.6rem;
      line-height: 1.6rem;
    }
  }

}


.post-container img {
  width:100%
}

.post-container a {
  text-decoration:none
}

.link-container {
  width:100%;
  height:0;
  position:relative;
  border:0;
  padding-bottom: 55%;
}

iframe {
  width:100%;
  height: 100%;
  position:absolute;
  border:0;
  left: 0;
  top: 0;
}


.button {
  position:absolute;
  z-index:10;
  text-align:center;
  background-color: rgba(50,50,50,0.8); 
  width: 5.4%;
  height: 9.82%;
  border-radius: 14%;

  &:hover {
    background-color:$purple;
  }
}

.vote-wrapper {
  top:13%;
  left:2%;

  img{
    position: absolute;
    top:1.5%;
    right:4%;
    height: 90%;
    width: 90%;
  }
}

.vote-number {
  position: relative;
  bottom: 0px;
  right:3px;
  color:$blue;
}

.vote-wrapper a {
  text-align: right;
  text-decoration: none;
}

.share-wrapper {
  top:2%;
  left:2%;

  img {
    position: absolute;
    top:8%;
    right:8%;
    fill:white;
    height: 80%;
    width: 80%;
  }

  .share  {
    display: none;

  }

  .fa-facebook-square {
    font-size:46.67px;
    position: absolute;
    top: 2%;
    left:20%;
    color: #3b5998;

    &:hover {
      color:$purple;
    }

  }

  .fa-twitter-square {
    font-size: 46.67px;
    position: absolute;
    top: 2%;
    left:60%;
    color: #4099FF;

    &:hover {
      color:$purple;
    }

  }
}

.share-selected {
  background-color:$purple;
}


.overlay {
  position:absolute;
  cursor:pointer;
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  z-index:4;
  line-height: 1em;

  &:hover .fader {
     background-color: rgba(0,0,0,0.4);
  }

  .fader {
  position:absolute;
  cursor:pointer;
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  z-index:0;
  background-color: rgba(0,0,0,0.6);
  }
}

.post-information {
  display:block;
  position: absolute;
  bottom:10%;
  left:10%;
  width: 80%;
  opacity:1;
  color:$white;
  line-height: 0.6em;
}

.post-description {
  font-weight:500;
  margin: 0;
  padding:0;

}

.created-at {
  padding:0;
  font-size: 0.5em;

}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - -  - - - -  Post Panel  - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.panel-container {
  background-color: $purple;
}

.panel-information {
  display:block;
  position: absolute;
  text-align:center;
  top: 0;
  margin-top:20%;
  left: 0;
  width: 100%;
  opacity:1;
  color:$white;
  
  .panel-description {
  font-weight:200;
  position: relative;
  margin: 0;
  line-height: 2rem;
  padding:0;
  font-size:1.5rem
  }
  .panel-description-two {
  font-weight:200;
  position: relative;
  margin: 0;
  line-height: 3rem;
  padding:0;
  font-size:2rem
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - Bookmark  - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.bookmark-wrapper {
  top:24%;
  left:2%;
  
  img {
    height: 90%;
    width: 90%;
    position: absolute;
    top:1%;
    right:4%;
  }

}

.archive-title {
  color:$white;
}

.archive-container {
  width: 100%;
  height: 100%;

}