/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - -  Search Section in header- - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.search-button {
  margin: 0;
  cursor:pointer;
  padding: 0;
  display:none;
  width:150px;
  height:65px;
  font-size: 0.8rem;
  background-color: rgba(255,255,255,0.08);
  font-weight: 300;
  line-height: 65px;
  padding-left: 10px;
  margin-right: 5px;
    i {
      margin-top:20px;
      font-size:1.5rem;
      color:$white;
    }

  @include breakpoint(small-medium) {
    display: block;
    float: left;
  }

}

.search-input {
  position: absolute;
  top: 0;
  color:$white;
  padding:0 10px;
  line-height: 65px;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0);
  border:none;
  font-family:'Roboto',sans-serif;
  font-size: 0.8rem;
  width:110px;
  margin: 0 5px;
}

::-webkit-input-placeholder {
   font-family:'Roboto',sans-serif;
   color: $white;
   font-weight:300;
}

.search-input:focus {
  outline:none;
}

.search-button:hover{
  color:$white;
}

// -------------------------------------------------------------------------------------------------------------------------------------------- //
// ----------------------------------------------------- Search Block ------------------------------------------------------------------ //
// -------------------------------------------------------------------------------------------------------------------------------------------- //

.search-section-block {
  
  h3 {
    color:$white;
    margin: 0;
    
  }
}