
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - -  Search Section - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.search-button {
  display:none;
  margin: 0 0 0 20px;
  cursor:pointer;
  padding: 0;
  float: left;
  width:200px;
  height:65px;
  line-height: 65px;
  background-color:$lightpurple;
    i {
      margin-top:20px;
      font-size:1.5rem;
      padding-left: 20px;
      color:$white;
    }

  @include breakpoint(medium) {
    display:none;
  }
}

.search-input {
  position: absolute;
  color:$white;
  padding-left:10px;
  border:none;
  font-family:'Roboto',sans-serif;
  background-color: rgba(0,0,0,0);
  font-size: 1.2rem;
  height:65px;
  width:130px;
  margin: 0;
  line-height:65px;
}

::-webkit-input-placeholder {
   font-family:'Roboto',sans-serif;
   color: $white;
   font-weight:200;
}

.search-input:focus {
  outline:none;
}

.search-button:hover{
  color:$white;
}