// -------------------------------------------------------------------------------------------------------------------------------------------- //
// ----------------------------------------------------------- General -------------------------------------------------------------------- //
// -------------------------------------------------------------------------------------------------------------------------------------------- //

[data-sidebar] {
  display:none;
  position:fixed;
  height:100%;
  width:200px;
  z-index:12
}

[data-sidebar-dimmer] {
  display:none;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  opacity:0;
  width:100%;
  z-index:11
}


.sidebar {   // General Styling to sidebar
  height:100%;
  right:-200px;
  font-weight:300;
  margin-top:65px;
  display:block;
  background-color: $teal;

   &:hover {
     overflow-y: auto;
   }

    ul {
      padding: 0;
      margin: 0px 0px;
      
      li {
        list-style: none;   // for the username
      }
      
      // All the links 
      a {
        text-decoration: none;

      li {
        list-style: none;
        margin: 0;
        padding: 4% 0;
        border-bottom: 1px solid $lightteal;
        
        &:hover {
            background-color: $lightteal;
        }
        
        @include breakpoint(small){
            margin: 0;
            padding: 8% 0;
        }

        p {
          font-size: 0.8rem;
          text-decoration: none;
          color: $white;
          padding-left:  30px;
          margin: 0;
        }
      }
    }
      .selected {
        font-weight: 400;
      }


      // Specific styling dependent on the link

      .sidebar-gravatar {
            text-align: center;
            margin-top: 20px;
            
                img {
                width: 40px;
                height: 40px;
                -webkit-border-radius: 50%;
                border-radius: 50%;
              }
        }

      .username-sidebar {
        text-align:center;
        
        p {
          margin: 5px 0;
        }
      }

      .login-links {
          @include breakpoint(small){
            display:none;
          }
      }

      .admin-links {
      }

      .user-links {
          @include breakpoint(medium-large){
            display:none;
          }
      }
      .contribute-link {
          @include breakpoint(medium){
            display:none;
          }
      }

      .login-section-sidebar {
          border-top: 1px solid $lightteal;
      }
      .static-section {
          bottom:65px;
          position: absolute;
          width: 100%;
          border-top: 1px solid $lightteal;
          }
    }
 } 
