/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self 
 */


@import 'mixins';
@import 'categories';
@import 'contributions';
@import 'forms';
@import 'index';
@import 'forms';
@import 'posts';
@import 'static_pages';


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - Constants - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

$blue: #81B6DB;  // blue  //
$green: #77DD77;    // green // 
$red: #FF4955;   // red //
$darkred: #FF5567; // darker red //
$lightred: #FFD8E8; // light red//
$orange: #FFB246;   // orange //
$white: #fff; // white // 
$black: #000; // black //
$lightgrey: #eee; // lightgrey //
$grey: #888; // grey //
$purple: #8171B6; // purple //
$lightpurple: #9181C6; // purple //
$lighterpurple: #E1D1F9; // purple //
$yellow: #FFF5AC; // yellow //
$teal: #00AAA3; // teal //
$lightteal: #30BAB3; // teal //


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - -  General  - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

body {
  background-color:$white;
  color:$white;
  margin:0;
  padding: 0;
  font-family:'Roboto';
  font-weight:200;
  font-size:67.5%
}

::-webkit-scrollbar {
  display:none
}

.wrapper {
  margin: 0;
  width:100%
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dimmer {
  background-color:$black;
}

.group:after {
  display: table;
  content: "";
  clear: both;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - -  Cover Pic  - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.cover-photo {
  width:100%;
  height: 100vh;                // Need to decide on using vh/vw ?????
  margin:0;
  float:left;
  position:relative;
  overflow:hidden;
}

/*// .cover-photo iframe{
//   width:100%;
//   height: 120vh;
//   overflow-y:hidden;
//   z-index:-5;
// }*/

.img-cover {
  position: absolute;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  background-color:$blue;
  opacity: 0.7;
  cursor:default;
}

.cover-photo-img  {
      width:1500px;
      // visibility:hidden;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - -  Header / Logo - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.header {
  width:100%;
  height:65px;
  position:fixed;
  background-color:$purple;
  box-shadow:0 0 90px 0 rgba(0,0,0,0.4);
  z-index:8;
  opacity: 0.95;
  top: 0;
  transition: top 0.5s ease-in-out;
  width: 100%;
}

.nav-up {
    top: -70px;
}


.header {
     .logo {
          float:left;
          margin:0;
          padding:0;
          
            a {
               z-index: 6;
              position:relative;
              font-size:2rem;
              margin: 0;
              line-height:65px;
              font-weight:500;
              text-decoration:none;
              color:$white;
              padding:20px 30px 15px 40px
            }
      }
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - -  Tag Section - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */


.tag-container {
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  font-size: 2.5rem;
  z-index: -1;
}

.tag-wrap {
  cursor:pointer;
}

.tag-wrap:hover{
  color:$lighterpurple;
}

.tags-button {
  padding:15px;
  float: left;
}

.tag-title {
  font-size: 1.4rem;
  float: left;
  padding-left:10px;
  font-weight:200;
}


.category-tags {
  display:none;
  position: absolute;
  top:65px;
  left:35%;
  float: left;
  text-align: center;
  z-index: 5;
  background-color: rgba(0,0,0,0.6);
  border-radius:0 0 5px 5px;
  box-shadow: 0px 6px 60px -5px rgba(0,0,0,0.4);
  

    h3 {
      font-size: 1rem;
      margin: 10px 0 0 0;
      padding: 0;
      font-weight: 400;
    }
  
  
    ul {
      margin: 0 0 10px 0 ;
      padding: 0 10px 10px 10px;
      width: 30vw;               // Need to decide on using vh/vw ?????
      
      li {
        list-style:none;
        display:inline-block;
        margin: 5px;
        
         .selected {
          color:$teal;
          background-color:$white;
        }
        a {
          font-size: 1.2rem;
          padding: 10px;
          border-radius: 3px; 
          text-decoration:none;
          color:$white;
          background-color:$teal;
        }
      }
    }
}

.category-tags a:hover {
      background-color:$lightteal;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - -  Search Section - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.search-button {
  display:none;
  margin: 0 0 0 20px;
  cursor:pointer;
  padding: 0;
  float: left;
  width:200px;
  height:65px;
  line-height: 65px;
  background-color:$lightpurple;
    i {
      margin-top:20px;
      font-size:1.5rem;
      padding-left: 20px;
    }

  @include breakpoint(medium) {
    display:block;
  }
}

.search-input {
  position: absolute;
  color:$white;
  padding-left:10px;
  border:none;
  font-family:'Roboto',sans-serif;
  background-color: rgba(0,0,0,0);
  font-size: 1.2rem;
  height:65px;
  width:130px;
  margin: 0;
  line-height:65px;
}

::-webkit-input-placeholder {
   font-family:'Roboto',sans-serif;
   color: $white;
   font-weight:200;
}

.search-input:focus {
  outline:none;
}

.search-button:hover{
  color:$lighterpurple;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - -  Login Section - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.login-section {
  float: right;
  margin-right: 5px;
  z-index:6;  
  height: 65px;

    .user-login {
      text-decoration:none;
      font-size: 1rem;
      line-height: 65px;
      margin: 0;
      padding: 10px; 
      color:$white;
      cursor:pointer;
    }

    .current-user {
         margin-top: 12px;

          img {
            cursor:pointer;
            display:block;
            height: 40px;
            padding:0; 
            margin: 0;
            border-radius:50%;
          }
      }

    .user-popup {
      display:none;
      position:absolute;
      z-index: 6;
      top:65px;
      right:50px;
      background-color: rgba(0,0,0,0.6);
      border-radius:0 0 5px 5px;
      box-shadow: 0px 6px 60px -5px $black;
      
      ul {
        margin: 0;
        padding: 5px;
        // width: 175px;
        
        .popup-text {
          margin-bottom: 10px;
          border-bottom: 1px solid $grey;
        }
     
        li {
          list-style:none;
          margin: 10px;
          
          .popup-username {
            font-weight: 500;
          }
          

          p {
            font-size: 0.8rem;
            text-decoration:none;
            width: 100%;
            margin: 0;
            color:$white;
          }
          
          a {
            text-decoration:none;
            padding: 5px;
            color:$white;
            font-size: 1rem;
            
                &:hover {
                      color:#ddd;
                }
           }

            .selected {
                font-weight:500;
           }
        }
     }
  }
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - -  Contribute  - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.contribute-section {
  height:65px;
  float: right;
  margin-right: 5px;
  line-height: 65px;
  text-align: center;
  
      a {
          text-decoration:none;
          color:$white;
          font-size: 1.2rem;
          font-weight: 200;
          padding: 10px;
          cursor:pointer;
        }

        &:hover a {
          color:$lightgrey;
        }
        
    // .contribute-button {
    //   margin-top: 12px;
    //   color:$white;
    //   font-size: 2.5rem;
      
    //         &:hover {
    //           color:$lighterpurple;
    //         }
    //   }
}  


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - -  Extra Button - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */


.extra-button {
  top:0;
  right:0;
  margin-top:2px;
  margin-right:20px;
  cursor:pointer;
  float:right;
  padding:10px;
  z-index:13;
    
    i {
      font-size:2.4rem;
    }
}


.extra-button:hover , .current-user:hover , .user-logout:hover , .user-login:hover {
  color:$lighterpurple
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - -  Hero Section  - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.hero-phrase {
  position:absolute;
  cursor:default;
  text-align: center;
  padding:5px;
  left:0;
  width: 100%;
  margin: 0;
  padding: 0;
  top:20%;
  color:$white;
  
       h1 {
           font-size: 3rem;
           font-weight: 300;
      }

      h3 {
          font-size: 2rem;
          font-weight: 200;
      }

}

.hero-buttons{
  position: absolute;
  z-index:7;
  top:55%;
  width: 100%;
}

#random-button,.mostrecent-button {
  font-size:1.5rem;
  position:relative;
  padding:10px;
  cursor:pointer;
  text-decoration:none;
  color:$white;
  border:2px solid $white;
  border-radius: 3px;
}

.start-watching {
  font-size:2rem;
  width:100%;
  position:absolute;
  cursor:default;
  z-index:7;
  padding:5px;
  left:0;
  margin: 0;
  padding: 0;
  top:75%;
  color:$white;
}

.scroll-to-content {
  font-size:4rem;
  width:100%;
  position:absolute;
  text-align:center;
  z-index:7;
  padding:5px;
  left:0;
  margin: 0;
  padding: 0;
  top:80%;
  color:$white; 
}

.scroll-arrow {
  cursor: pointer;
  padding: 10px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1)}
    50% {-webkit-transform: scale(1.15)}
    100% {-webkit-transform: scale(1)}
}

.mostrecent-button {
  display:inline-block;
  float: left;
  margin-right:25px
}

#random-button {
  display:inline-block;
  float: right;
  margin-left:20px
}

#random-button:hover, .mostrecent-button:hover {
  background-color: $white;
  color: $purple;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - Sidebar Section - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */


.sidebar {
  height:100%;
  right:-200px;
  margin-top:65px;
  background-color:$teal;
 -webkit-box-shadow:  -3px 0px 12px -2px rgba(0,0,0,0.4);
 -moz-box-shadow:  -3px 0px 12px -2px rgba(0,0,0,0.4);
 box-shadow:  -3px 0px 12px -2px rgba(0,0,0,0.4);
 

   &:hover {
     overflow-y: auto;
   }
}

[data-sidebar] {
  display:none;
  position:fixed;
  height:100%;
  width:200px;
  z-index:12
}

.sidebar-buttons {
  line-height:20px;
  ul {
    margin:0;
    li {
      margin-top: 20px;
      list-style:none;
      a {
        text-align:center;
        padding:10px;
        font-size:1.1rem;
        z-index: 13;
      }
    }
  }
}

.new-post {
  text-decoration:none;
  color:#fff
}

.static-links {
  position:absolute;
  bottom:100px
}

.static-links .selected, .sidebar-buttons ul li a:hover {
  font-weight:500;
}

.static-pages a {
  text-decoration:none;
  color:#fff
}

[data-sidebar-dimmer] {
  display:none;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  opacity:0;
  width:100%;
  z-index:11
}