/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self 

 */
/*-------------------------------------Constants---------------------------------------*/

$blue: #81B6DB;  // blue  //
$green: #77DD77;    // green // 
$red: #FF4955;   // red //
$darkred: #FF5567; // darker red //
$lightred: #FFD8E8; // light red//
$orange: #FFB246;   // orange //
$white: #fff; // white // 
$black: #000; // black //
$grey: #eee; // lightgrey //
$purple: #8171B6; // purple //
$yellow: #FFF5AC; // yellow //

/*-------------------------------------Main Style---------------------------------------*/

body {
  background-color:#F4F4F5;
  color:#fff;
  margin:0;
  padding: 0;
  font-family:'Roboto',sans-serif;
  font-weight:200;
  font-size:67.5%
}

::-webkit-scrollbar {
  display:none
}

.wrapper {
  margin: 0;
  width:100%
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------------------------------Cover pic---------------------------------------*/

.cover-photo {
  width:100vw;
  height: 100vh;
  margin:0;
  float:left;
  position:relative;
  overflow:hidden;
  -webkit-border-radius:3px;
  border-radius:3px
}

.cover-photo img {
  width:100%;
}

/*// .cover-photo iframe{
//   width:100%;
//   height: 120vh;
//   overflow-y:hidden;
//   z-index:-5;
// }*/

.img-cover {
  position: absolute;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
  width:100%;
  height:100vh;
  background-color:$blue;
  opacity: 0.7;
}

/*--------------------------------------Main Title--------------------------------------*/
.header {
  width:100%;
  height:10vh;
  position:fixed;
  background-color:$red;
  /*box-shadow:0 0 10px 0 rgba(0,0,0,0.6);*/
  z-index:8;
  opacity: 0.95;
}

/*--------------------------------------Home button--------------------------------------*/
.header .logo {
  float:left;
  margin:0;
  padding:0;
  
    a {
       z-index: 6;
      position:relative;
      font-size:2rem;
      margin: 0;
      line-height:10vh;
      font-weight:500;
      text-decoration:none;
      color:$white;
      padding:20px 30px 15px 40px
    }
}


/*------------------------------------Title Bar/Drop Down--------------------------------*/


.tag-container {
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  font-size: 2.5rem;
  z-index: -1;
}

.tag-wrap {
  cursor:pointer;
}

.tag-wrap:hover{
  color:$lightred;
}

.tags-button {
  padding:2.2vh;
  float: left;
}

.tag-title {
  font-size: 1.4rem;
  float: left;
  padding-left:10px;
  font-weight:400;
}


.category-tags{
  display:none;
  position: absolute;
  top:10vh;
  left:35vw;
  float: left;
  text-align: center;
  z-index: 5;
  background-color: rgba(0,0,0,0.5);
  border-radius:0 0 5px 5px;
  box-shadow: 0px 6px 60px -5px $black;
  
  nav {
    position: relative;
    
    ul {
      margin: 0 0 10px 0 ;
      padding: 10px;
      width:30vw;
      
      li {
        list-style:none;
        display:inline-block;
        margin: 5px;
        
         .selected {
          color:$purple;
          background-color:$white;
        }
        a {
          font-size: 1.2rem;
          padding: 10px;
          border-radius: 3px; 
          text-decoration:none;
          color:$white;
          background-color:$purple;
        }
      }
    }
  }
}

.category-tags a:hover {
      color:$purple;
      background-color:$white;
}

/*  --------------------------------------- Search ------------------ */

.search-button {
  margin: 0 0 0 20px;
  cursor:pointer;
  padding: 0;
  float: left;
  width:200px;
  height:10vh;
  line-height: 10vh;
  background-color:$darkred;
    i {
      margin-top:3vh;
      font-size:1.5rem;
      padding-left: 20px;
    }
}

.search-input {
  position: absolute;
  color:$white;
  padding-left:10px;
  border:none;
  font-family:'Roboto',sans-serif;
  background-color: rgba(0,0,0,0);
  font-size: 1.2rem;
  height:10vh;
  width:130px;
  margin: 0;
  line-height:10vh;
}

::-webkit-input-placeholder {
  font-family:'Roboto',sans-serif;
   color: $white;
   font-weight:400;
}

.search-input:focus {
  outline:none;
}

.search-button:hover{
  color:$lightred;
}
/*  --------------------------------------- login ------------------ */

.login-section {
  float: right;
  margin-right: 5px;
  z-index:6;  
  height: 10vh;
}

.user-login {
  text-decoration:none;
  font-size: 1rem;
  line-height: 10vh;
  margin: 0;
  padding: 10px; 
  color:$white;
  cursor:pointer;
}

.current-user {
  margin-top: 1.9vh;

    img {
      cursor:pointer;
      display:block;
      height: 6vh;
      padding:0; 
      margin: 0;
      border-radius:50%;
    }
}

.user-popup {
  display:none;
  position:absolute;
  z-index: 6;
  top:10vh;
  right:50px;
}

.user-links {
  background-color: rgba(0,0,0,0.6);
  border-radius:0 0 5px 5px;
  box-shadow: 0px 6px 60px -5px $black;
  
  ul {
    margin: 0;
    padding: 5px;
    width:90px;
 
    li {
      list-style:none;
      margin: 10px;
      
      a {
        text-decoration:none;
        padding: 10px;
        width: 100%;
        color:$white;
        font-size: 1rem;
          
      }
    }
  }
}

.user-links a:hover {
  color:#ddd;
}

.user-links .selected {
  font-weight:500;
}
/*  --------------------------------------- Contribute section------------------ */

.contribute-section {
  height:10vh;
  line-height: 10vh;
  float: right;
  margin-right: 10px;
  
    a {
      text-decoration:none;
      color:$white;
      font-size: 1rem;
      padding: 10px;
    }

    &:hover a {
      color:$lightred;
    }
}  



/*  --------------------------------------- Extra Buttons------------------ */


.extra-button {
  top:0;
  right:0;
  margin-top:0.5vh;
  margin-right:3vh;
  cursor:pointer;
  float:right;
  padding:10px;
  z-index:13;
    
    i {
      font-size:2.4rem;
    }
}


.extra-button:hover , .current-user:hover , .user-logout:hover , .user-login:hover {
  color:$lightred
}

/*  --------------------------------------- Hero Buttons------------------ */
.hero-phrase {
  font-size:3rem;
  position:absolute;
  cursor:default;
  width: 100%;
  padding:5px;
  left:0;
  margin: 0;
  padding: 0;
  top:200px;
  color:$white;
}

.hero-buttons{
  position: absolute;
  z-index:7;
  top:400px;
  width: 100%;
}
#random-button,.mostrecent-button {
  font-size:1.5rem;
  position:relative;
  padding:10px;
  cursor:pointer;
  text-decoration:none;
  color:$white;
  border:2px solid $white;
  border-radius: 3px;
}

.start-watching {
  font-size:2rem;
  width:100%;
  position:absolute;
  cursor:default;
  z-index:7;
  padding:5px;
  left:0;
  margin: 0;
  padding: 0;
  top:500px;
  color:$white;
}

.scroll-to-content {
  font-size:3rem;
  width:100%;
  position:absolute;
  text-align:center;
  z-index:7;
  padding:5px;
  left:0;
  margin: 0;
  padding: 0;
  top:550px;
  color:$white; 
}

.scroll-arrow {
  cursor: pointer;
  padding: 10px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1)}
    50% {-webkit-transform: scale(1.15)}
    100% {-webkit-transform: scale(1)}
}

.mostrecent-button {
  display:inline-block;
  float: left;
  margin-right:25px
}

#random-button {
  display:inline-block;
  float: right;
  margin-left:20px
}

#random-button:hover , .mostrecent-button:hover {
  background-color: $white;
  color: $blue;
}


/*--------------------------------------- Side Bar ------------------ */


.sidebar {
  height:100%;
  right:-200px;
  margin-top:10vh;
  background-color:$blue;
}

[data-sidebar] {
  display:none;
  position:fixed;
  height:100%;
  width:200px;
  z-index:12
}

.sidebar-buttons {
  line-height:75px;
  ul {
    margin:0;
    li {
      list-style:none;
      a {
        text-align:center;
        padding:10px;
        font-size:1rem;
        z-index: 13;
      }
    }
  }
}

.new-post {
  text-decoration:none;
  color:#fff
}

.static-links {
  position:absolute;
  bottom:110px
}

.static-links .selected, .sidebar-buttons ul li a:hover {
  color:$purple;
  font-weight:500;
}

.static-pages a{
  text-decoration:none;
  color:#fff
}

[data-sidebar-dimmer] {
  display:none;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  opacity:0;
  width:100%;
  z-index:11
}

.dimmer {
  background-color:#000
}

/*--------------------------------------- Content --------------------------------------*/

.breaker {
	height:10vh;
	position: absolute;
	top:90vh;
	left: 0;
	width: 100%;
}
.content {
}

/*------------------------------------------New Post Form-----------------------------------------*/
.new-post-container {
  position:absolute;
  top:375px;
  left:200px
}

.new-header {
  text-align:center;
  line-height:100px;
  font-size:2rem;
  margin-bottom:0;
  height:70px
}

.add-url input {
  border-radius:10px;
  width:600px;
  line-height:2rem;
  padding:1px 10px
}

.add-desc input {
  border-radius:10px;
  width:600px;
  height:200px;
  line-height:1.5rem;
  font-size:1.5rem;
  color:$red;
  padding:1px 10px
}

.add-actions {
  margin:20px 0 0;
  
  input {
    text-align:center;
    border-radius:10px;
    width:200px;
    height:50px;
    font-weight:700;
    font-size:1.2rem
  }
}

.add-container {
  text-align:center
}

.back-container {
  text-align:center;
  margin:20px 0 50px
}

.back-button {
  color:#fff;
  text-decoration:none
}

.field {
  color:$red;
}