/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self 
 */

@import "media-queries";
@import 'mixins';
@import 'constants';
@import 'categories';
@import 'contributions';
@import 'forms';
@import 'index';
@import 'forms';
@import 'posts';
@import 'flash_messages';
@import 'profile';
@import 'static_pages';


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - Constants - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

$blue: #81B6DB;  // blue  //
$green: #77DD77;    // green // 
$red: #FF4955;   // red //
$darkred: #FF5567; // darker red //
$lightred: #FFD8E8; // light red//
$orange: #FFB246;   // orange //
$white: #FFF; // white // 
$black: #000; // black //
$lightgrey: #EEE; // lightgrey //
$grey: #888; // grey //
$darkergrey: #444; // darkgrey //
$purple: #8171B6; // purple //
$lightpurple: #9181C6; // lightpurple //
$lighterpurple: #F6E7FF; // lighterpurple //
$yellow: #FFF5AC; // yellow //
$teal: #00AAA3; // teal //
$lightteal: #30BAB3; // teal //


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - -  General  - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

body {
  background-color:$white;
  color:$white;
  margin:0;
  padding: 0;
  font-family:'Roboto';
  font-weight:300;
}


::-webkit-scrollbar {
  display:none
}

.wrapper {
  margin: 0;
  width:100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dimmer {
  background-color:$black;
}

.group:after {
  display: table;
  content: "";
  clear: both;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - -  Header / Logo - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.header {
  width:100%;
  height:65px;
  position:fixed;
  background-color:$purple;
  box-shadow:0 0 90px 0 rgba(0,0,0,0.4);
  z-index:8;
  opacity: 0.98;
  top: 0;
  transition: top 0.5s ease-in-out;
  width: 100%;
}

.nav-up {
    top: -70px;
}


.header {
     .logo {
          float:left;
          margin:0;
          padding:0;
          
            img {
              height: 30px;
              padding: 18px 15px;
              z-index: 6;
              position: relative;
              margin: 0;

              @include breakpoint(small) {
                height: 40px;
                padding: 13px 15px;
              }
            }
      }
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - -  Tag Section - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */


.tag-container {
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  font-size: 2.5rem;
  z-index: -1;
  color:$white;
}

.tag-wrap {
  cursor:pointer;
}

.tag-wrap:hover{
  color:$lighterpurple;
}

.tags-button {
  padding:15px;
  float: left;
}

.tag-title {
  font-size: 1.4rem;
  float: left;
  padding-left:10px;
  font-weight:300;
  display: none;

  @include breakpoint(small) {
    display: block;
  } 
}


.category-tags {
  display:none;
  position: absolute;
  top:65px;
  left:0;
  right: 0;
  float: left;
  text-align: center;
  z-index: 5;
  background-color: rgba(0,0,0,0.6);
  border-radius:0 0 5px 5px;
  box-shadow: 0px 6px 60px -5px rgba(0,0,0,0.4);
  
  @include breakpoint(small) {
    left: 20%;
    right: 20%;    
  } 

  @include breakpoint(medium-large) {
    left: 30%;
    right: 30%;    
  } 

    h3 {
      font-size: 1rem;
      margin: 10px 0 0 0;
      padding: 0;
      font-weight: 300;
      color:$white;
    }
  
  
    ul {
      margin: 0 0 10px 0 ;
      padding: 0 2% 2% 2%;
      width: 96%;               // Need to decide on using vh/vw ?????
      
      @include breakpoint(small) {

      } 
      li {
        list-style:none;
        display:inline-block;
        margin: 5px;
        
         .selected {
          color:$teal;
          background-color:$white;
        }
        a {
          font-size: 1.2rem;
          padding: 10px;
          border-radius: 3px; 
          text-decoration:none;
          color:$white;
          background-color:$teal;
        }
      }
    }
}

.category-tags a:hover {
      background-color:$lightteal;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - -  Search Section - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.search-button {
  display:none;
  margin: 0 0 0 20px;
  cursor:pointer;
  padding: 0;
  float: left;
  width:200px;
  height:65px;
  line-height: 65px;
  background-color:$lightpurple;
    i {
      margin-top:20px;
      font-size:1.5rem;
      padding-left: 20px;
      color:$white;
    }

  @include breakpoint(medium) {
    display:none;
  }
}

.search-input {
  position: absolute;
  color:$white;
  padding-left:10px;
  border:none;
  font-family:'Roboto',sans-serif;
  background-color: rgba(0,0,0,0);
  font-size: 1.2rem;
  height:65px;
  width:130px;
  margin: 0;
  line-height:65px;
}

::-webkit-input-placeholder {
   font-family:'Roboto',sans-serif;
   color: $white;
   font-weight:200;
}

.search-input:focus {
  outline:none;
}

.search-button:hover{
  color:$white;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - -  Login Section - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.login-section {
  margin-top: 10%;
  z-index:6;  
  display: none;

  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 36%;
  }

  @include breakpoint(small) {
    display: block;  
    float: right;
    margin-top: 0px;
    margin-right: 5px; 
      height: 65px;

  } 

    .user-login {
      text-decoration:none;
      font-size: 1.2rem;
      line-height: 65px;
      margin: 0;
      padding: 0px; 
      color:$white;
      cursor:pointer;

        @include breakpoint(small) {
          padding: 10px; 
        } 
    }

    .current-user {
         margin-top: 12px;

          img {
            cursor:pointer;
            display:block;
            height: 40px;
            width: 40px;
            padding:0; 
            margin: 0;
            border-radius:50%;
          }
      }
    
    .user-popup {

      display: block;
      margin: 0;
      padding: 0;
      float: left;
      margin-top: -10px;

      @include breakpoint(small) {
        display:none;
        position:absolute;
        z-index: 6;
        top:65px;
        margin: 0;
        right:50px;
        background-color: rgba(0,0,0,0.6);
        border-radius:0 0 5px 5px;
        box-shadow: 0px 6px 60px -5px $black;
      } 
      
      ul {
        display: block;
        margin: 0;
        padding: 0;
        float: left;
        
        .popup-text {
          margin-bottom: 10px;
          border-bottom: 1px solid $grey;
          float:none;
        }
     
        li {
          list-style:none;
          margin-top: 35%;

          @include breakpoint(small) {
            margin: 10px;    
          }
          
          .popup-username {
            font-weight: 500;
            margin:0;
            left: 0;
            line-height: 10%;
            height:10%;

            @include breakpoint(small) {
              margin-top: 10px;
              margin-bottom: 10px; 
            }
          }
          

          p {
            text-decoration: none;
            padding: 0;
            color: #FFF;
            font-size: 1.2rem;

            @include breakpoint(small) {
              font-size: 0.8rem;
              width: 100%;
              margin: 0;
              padding: 5px;
            }
          }
          
          a {
            text-decoration:none;
            color:$white;
            padding: 0;
            color: #FFF;
            font-size: 1.2rem;
            margin-top: 10%;

            @include breakpoint(small) {
              font-size: 1rem;
              width: 100%;
              margin: 0;
              padding: 5px;

              &:hover {
                color:#ddd;
              }
            }
                
                &:hover a {
                  font-weight:500;
                }

           }

            .selected {
                font-weight:500;
           }
        }
     }
  }

    .user-popup-sidebar {
      
      ul {
        display: block;
        margin: 0;
        padding: 0;
        float: left;
        margin-top: -10px;
        
        @include breakpoint(small) {
          margin: 0;
        }

        .popup-text {
          margin-bottom: 10px;
          border-bottom: 1px solid $grey;
          float:none;
        }
     
        li {
          list-style:none;
          margin-top: 35%;

          @include breakpoint(small) {
            margin: 10px;    
          }
          
          .popup-username {
            font-weight: 500;
            margin:0px;
            line-height: 10%;
            height:10%;

            @include breakpoint(small) {
              margin-top: 30px;
              margin-bottom: 10px;
            }
          }
          

          p {
            text-decoration: none;
            padding: 0;
            color: #FFF;
            font-size: 1.2rem;

            @include breakpoint(small) {
              font-size: 0.8rem;
              width: 100%;
              margin: 0;
              padding: 5px;
            }
          }
          
          a {
            text-decoration:none;
            color:$white;
            padding: 0;
            color: #FFF;
            font-size: 1.2rem;
            margin-top: 10%;

            @include breakpoint(small) {
              font-size: 1rem;
              width: 100%;
              margin: 0;
              padding: 5px;

              &:hover {
                color:#ddd;
              }
            }
                
                &:hover a {
                  font-weight:500;
                }

           }

            .selected {
                font-weight:500;
           }
        }
     }
  }
}

.login-section-sidebar {
  margin-top: 10%;
  z-index:6;  
  display: none;

  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 36%;
  }

  @include breakpoint(small) {
    display: block;  
    float: right;
    margin-top: 0px;
    margin-right: 5px; 
      height: 65px;

  } 

    .user-login {
      text-decoration:none;
      font-size: 1.2rem;
      line-height: 65px;
      margin: 0;
      padding: 0px; 
      color:$white;
      cursor:pointer;

        @include breakpoint(small) {
          padding: 10px; 
        } 
    }

    .current-user {
         margin-top: 12px;

          img {
            cursor:pointer;
            display:block;
            height: 40px;
            width: 40px;
            padding:0; 
            margin: 0;
            border-radius:50%;
          }
      }
    
    .user-popup {

      display: block;
      margin: 0;
      padding: 0;
      float: left;
      margin-top: -10px;

      @include breakpoint(small) {
        display:none;
        position:absolute;
        z-index: 6;
        top:65px;
        margin: 0;
        right:50px;
        background-color: rgba(0,0,0,0.6);
        border-radius:0 0 5px 5px;
        box-shadow: 0px 6px 60px -5px $black;
      } 
      
      ul {
        display: block;
        margin: 0;
        padding: 0;
        float: left;
        
        .popup-text {
          margin-bottom: 10px;
          border-bottom: 1px solid $grey;
          float:none;
        }
     
        li {
          list-style:none;
          margin-top: 35%;

          @include breakpoint(small) {
            margin: 10px;    
          }
          
          .popup-username {
            font-weight: 500;
            margin:0px;
            margin-left: 25%;
            line-height: 10%;

            @include breakpoint(small) {
              margin-top: 30px;
              margin-bottom: 10px; 
            }
          }
          

          p {
            text-decoration: none;
            padding: 0;
            color: #FFF;
            font-size: 1.2rem;

            @include breakpoint(small) {
              font-size: 0.8rem;
              width: 100%;
              margin: 0;
              padding: 5px;
            }
          }
          
          a {
            text-decoration:none;
            color:$white;
            padding: 0;
            color: #FFF;
            font-size: 1.2rem;
            margin-top: 10%;

            @include breakpoint(small) {
              font-size: 1rem;
              width: 100%;
              margin: 0;
              padding: 5px;

              &:hover {
                color:#ddd;
              }
            }
                
                &:hover a {
                  font-weight:500;
                }

           }

            .selected {
                font-weight:500;
           }
        }
     }
  }

    .user-popup-sidebar {
      
      ul {
        display: block;
        margin: 0;
        padding: 0;
        float: left;
        margin-top: -10px;
        
        @include breakpoint(small) {
          margin: 0;
        }

        .popup-text {
          margin-bottom: 10px;
          border-bottom: 1px solid $grey;
          float:none;
        }
     
        li {
          list-style:none;
          margin-top: 35%;

          @include breakpoint(small) {
            margin: 10px;    
          }
          
          .popup-username {
            font-weight: 500;
            margin:0px;
            margin-left: 44%;
            line-height: 10%;

            @include breakpoint(small) {
              margin-top: 30px;
              margin-bottom: 10px;
            }
          }
          

          p {
            text-decoration: none;
            padding: 0;
            color: #FFF;
            font-size: 1.2rem;

            @include breakpoint(small) {
              font-size: 0.8rem;
              width: 100%;
              margin: 0;
              padding: 5px;
            }
          }
          
          a {
            text-decoration:none;
            color:$white;
            padding: 0;
            color: #FFF;
            font-size: 1.2rem;
            margin-top: 10%;

            @include breakpoint(small) {
              font-size: 1rem;
              width: 100%;
              margin: 0;
              padding: 5px;

              &:hover {
                color:#ddd;
              }
            }
                
                &:hover a {
                  font-weight:500;
                }

           }

            .selected {
                font-weight:500;
           }
        }
     }
  }
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - -  Contribute  - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.contribute-section {
  float: left;
  margin-right: 5px;
  text-align: center;
  display: none;
  margin-top: 25%;
  margin-bottom: 5%;

  @include breakpoint(small) {
    height:65px;
    line-height: 65px;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  } 
  
      a {
          text-decoration:none;
          color:$white;
          font-size: 1.2rem;
          font-weight: 300;
          padding: 0px;
          cursor:pointer;

          @include breakpoint(small) {
            padding: 10px;

            &:hover a {
              color:$lighterpurple;
            }
          } 
        }

        &:hover a {
          font-weight:500;
        }
        
    // .contribute-button {
    //   margin-top: 12px;
    //   color:$white;
    //   font-size: 2.5rem;
      
    //         &:hover {
    //           color:$lighterpurple;
    //         }
    //   }
}  


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - -  Extra Button - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */


.extra-button {
  top:0;
  right:0;
  margin-top:2px;
  margin-right:10px;
  cursor:pointer;
  float:right;
  padding:10px;
  z-index:13;
  color:$white;
    
    i {
      font-size:2.4rem;
    }

    @include breakpoint(small) {
      display: block;
      margin-right: 20px;
    } 
}


.extra-button:hover , .current-user:hover , .user-logout:hover , .user-login:hover {
  color:$lighterpurple;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - -  Cover Pic  - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.hero-cover {
  width:100%;
  height: 60vh;                // Need to decide on using vh/vw ?????
  margin:0;
  float:left;
  position:relative;
  overflow:hidden;

  @include breakpoint(medium) {
    height: 100vh;
  }
}

.hero-cover-other {
  width:100%;
  height: 100vh;                // Need to decide on using vh/vw ?????
  margin:0;
  float:left;
  position:relative;
  overflow:hidden;
}

.short-hero-cover {
  width:100%;
  height: 50vh;                // Need to decide on using vh/vw ?????
  margin:0;
  float:left;
  position:relative;
  overflow:hidden;
}

.img-cover , .blue-img-cover {
  position: absolute;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  opacity: 0.4;
  cursor:default;
}

.img-cover {
  background-color:$black;
}

.blue-img-cover {
  background-color:$blue;
}

.cover-photo-img , .category-cover {
      width:1500px;
      position: relative;
      top:-200px;
      z-index: -1;

      @include breakpoint(medium) {
        width:1500px;
      }
}

.category-cover {
  top:-200px;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 100%;
    z-index:-1;

}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}
.video-container video.fillWidth {
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - -  Hero Section  - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.hero-title {
  position:absolute;
  cursor:default;
  text-align: center;
  padding:5px;
  left:0;
  width: 100%;
  margin: 0;
  padding: 0;
  top:33%;
  color:$white;
  z-index: 1;
  
  @include breakpoint(small) {
      top:15%;
  }

  @include breakpoint(medium) {
      top:20%;
  }

      h1 {
           font-size: 1.75rem;
           font-weight: 300;
           padding-right: 5%;
           padding-left: 5%;

           @include breakpoint(small) {
              font-size: 3rem;
              padding-top: 5%;
            }

            @include breakpoint(medium) {
              font-size: 3rem;
              padding-right: 0;
              padding-left: 0;
              padding-top: 0;
            }
      }

      h3 {
          font-size: 1rem;
          font-weight: 200;
          padding-right: 2%;
          padding-left: 2%;
          padding-top: 5%;
          display: none;

          @include breakpoint(medium) {
            font-size: 2rem;
            padding-right: 0;
            padding-left: 0;
            padding-top: 30px;
            display: inline-block;
          }
      }
}

.hero-phrase {
  position:absolute;
  cursor:default;
  text-align: center;
  padding:5px;
  left:0;
  width: 100%;
  margin: 0;
  padding: 0;
  top:35%;
  color:$white;
  
      h1 {
           font-size: 3rem;
           font-weight: 200;
      }
}

.hero-buttons{
  position: absolute;
  z-index:7;
  top:75%;
  width: 100%;

  @include breakpoint(medium) {
    top:65%;
  }
}

.topvid-button,.mostrecent-button {
  font-size:1.2rem;
  position:relative;
  padding:10px;
  cursor:pointer;
  text-decoration:none;
  color:$white;
  border:2px solid $white;
  border-radius: 3px;
  margin-left: 0;

  @include breakpoint(small) {
    font-size:1.5rem;
    margin-left: -30px;
  }
}

.start-watching {
  font-size:2rem;
  width:100%;
  position:absolute;
  cursor:default;
  z-index:7;
  padding:5px;
  left:0;
  margin: 0;
  padding: 0;
  top:80%;
  color:$white;
  display: none;

  @include breakpoint(medium) {
    display: flex;
  }
}

.scroll-to-content {
  font-size:4rem;
  width:100%;
  position:absolute;
  text-align:center;
  z-index:7;
  padding:5px;
  left:0;
  margin: 0;
  padding: 0;
  top:85%;
  color:$white; 
  display: none;

  @include breakpoint(medium) {
    display: block;
  }

}

.scroll-arrow {
  cursor: pointer;
  padding: 10px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1)}
    50% {-webkit-transform: scale(1.15)}
    100% {-webkit-transform: scale(1)}
}

.mostrecent-button {
  display:inline-block;
  float: left;
  margin-right:35px
}


.topvid-button:hover, .mostrecent-button:hover {
  background-color: $white;
  color: $purple;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - Sidebar Section - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */


.sidebar {
  height:100%;
  right:-200px;
  font-weight:300;
  margin-top:65px;
  background-color: $teal;

   &:hover {
     overflow-y: auto;
   }

  @include breakpoint(small) {
    display: block;
  } 
}

[data-sidebar] {
  display:none;
  position:fixed;
  height:100%;
  width:200px;
  z-index:12
}

.sidebar-buttons {
  line-height: 10%;
  
  @include breakpoint(small) {
    line-height:20px;
  }

  ul {
    margin:0;
    margin-left:-8%; 

    
    @include breakpoint(small) {
      float: none;
    }

    
    .login-section {
      display: block;
    
      
      @include breakpoint(small) {
        display: none;
      } 

    }

    .contribute-section {
      display: block;
      
      @include breakpoint(small) {
        display: none;
      } 

    }

    

    li {
      margin-top: 30%;
      list-style:none;
      a {
        text-align:center;
        padding:0px;
        font-size:1.1rem;
        z-index: 13;

        @include breakpoint(small) {
        padding: 10px;
        } 
      }
    }
  }
}

.admin {
  float: left;

  @include breakpoint(small) {
  } 
}
.new-post {
  text-decoration:none;
  color:$white;
}

.static-links {
  position:absolute;
  bottom:100px
}

.static-links .selected, .sidebar-buttons ul li a:hover {
  font-weight:500;
}

.static-pages a {
  text-decoration:none;
  color:$white;
}

[data-sidebar-dimmer] {
  display:none;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  opacity:0;
  width:100%;
  z-index:11
}




