/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - Constants - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

$blue: #81B6DB;  // blue  //
$green: #77DD77;    // green // 
$red: #FF4955;   // red //
$darkred: #FF5567; // darker red //
$lightred: #FFD8E8; // light red//
$orange: #FFB246;   // orange //
$white: #fff; // white // 
$black: #000; // black //
$lightgrey: #eee; // lightgrey //
$grey: #888; // grey //
$purple: #8171B6; // purple //
$yellow: #FFF5AC; // yellow //

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Main - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.form {
	background-color: rgba(0,0,0, 0.5);
	width: 400px;
	position: absolute;
	top:200px;
	left:0;
    	right:0;
    	margin-left:auto;
    	margin-right:auto;
	font-family: roboto;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 180px -34px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 180px -34px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 180px -34px rgba(0,0,0,0.75);

		h3 {
			text-align: center;
			font-weight: 400;
			font-size: 1rem;
		}
}

.form-title {
	position: absolute;
	width: 500px;
	padding: 20px;
	left:0;
   	right:0;
   	margin-left:auto;
   	margin-right:auto;
	z-index: 9;
	text-align: center;
	top: 10vh;

	h1 {
		font-weight: 400;
		font-size: 2.5rem;
	}
}

.field {
	text-align: center;
	padding: 10px;
}

.field ::-webkit-input-placeholder {
	color:$grey;
}

.input {
	width: 90%;
	height: 30px;
	padding: 8px;
	font-family: roboto;
	border-style: none;
	color:$darkred;
	font-size: 1rem;
	font-weight:400;
	background-color: $lightgrey;
}

.submit {
	width: 50%;
	height: 50px;
	display:block;
	background-color: $red;
	margin: 5% auto;
	font-size: 1.3rem;
	cursor: pointer;
	color:$white;
	border-style: none;
	font-family: roboto;
}

.submit:hover {
	background-color: $white;
	color:$red;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Post - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.post-submit {
}

.post-url-field, .post-article-url-field, .post-description-field {
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - Category - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.category-submit {
}

.category-name-field {
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - Contribution - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.contribution-submit {
}

.contribution-url-field, .contribution-category-field {
}

.checkbox-field {
	padding: 0;
	margin-top: 10px;
}

.field input[type=checkbox] {
	display:none;
	margin: 0;
	padding: 0;
}

.field .checkbox_label {
	display: inline-block;
	height: 20px;
	border-radius:3px;
	line-height: 20px;
	padding: 5px 10px;
	margin: 5px;
	font-family: roboto;
	border-style: none;
	color:$white;
	font-size: 0.8rem;
	font-weight:400;
	cursor: pointer;
	color:$white;
	background-color: $red;
	
}

.field .checkbox_label:hover {
	background-color: $darkred;
}

.check_box:checked + .checkbox_label {
  	color:$red;
	background-color: $white;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Sign In - - - - - - - - - - - - - - - - - - - - - - - - - - -   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.signin-submit {
}

.password-field, .email-field {
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - Signup Tab - - - - - - - - - - - - - - -  - - - - - - - - - -  */

.signup-form-title {
	position: absolute;
	width: 440px;
	left:0;
           right:0;
           margin: 0 auto;
	z-index: 9;
	text-align: center;
	top: 144px;
	
	a {
		text-decoration:none;
		color:$white;
		font-family: roboto;
		position: absolute;
		font-weight: 400;
		font-size: 1.4rem;
		width: 220px;
		padding: 15px 0px;
		background-color: rgba(0,0,0,0.5);
	}
	.login-a {
		left: 0;
	}
	.login-b {
		right: 0;
	}	

	.selected {
		background-color:$red;	
	}
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Sign Up - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.signup-submit {
}

.password-field, .email-field , .username-field{
}