
 /*-------------------------------------Constants---------------------------------------*/

 $primarycolor: #FFA436;
 $backgroundcolor: #001F25;


/*-------------------------------------Main Style---------------------------------------*/

body {
  background: $backgroundcolor;
  color :white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 67.5%;
}

::-webkit-scrollbar {
  display:none;
}

.wrapper {
  width:100%;
}

/*--------------------------------------Cover pic---------------------------------------*/

.cover-photo { 
  width:100%;
  margin: 0 0 4px 0;  
  max-height:300px;
  float: left;
  position: relative;
  overflow:hidden;
  -webkit-border-radius:3px;
  border-radius: 3px;
}
  
.cover-photo img { 
  position:relative;  
  top:-250px;
  width:100%; 
}


/*----------------------------------------Search----------------------------------------*/



/*--------------------------------------Main Title--------------------------------------*/

.header {                         
  width:100%;
  height: 100px;
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
  z-index: 8;
} 

/*--------------------------------------Home button--------------------------------------*/
.header .logo {
  float: left;
  margin: 0;  
  padding: 0;
}
.header .logo a {
  position:relative;
  font-size:2rem;
  line-height: 100px;
  font-weight:500;
  text-decoration: none;
  color: $primarycolor;
  padding: 40px;
}


/*------------------------------------Title Bar/Drop Down--------------------------------*/

.main-header {	
  line-height: 100px;
  float: left;
  z-index: 5;
  margin-left: 170px;
  
}

.healthy-header, .wealthy-header, .wise-header {
  width:150px;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  float: left;
  margin: 0px 30px;
  position: relative;
}

nav ul li:hover ul {
  display: block;
}


nav ul li a {
  display: block; 
  color:white;
  text-decoration: none;
  font-size: 2.5rem;
}

nav ul ul {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  border-radius: 0px 0px 5px 5px;
}

.healthy-scroll {
  left:-15px;
  width: 190px;
}

.wealthy-scroll {
  left:-25px;
  width: 210px;
}

.wise-scroll {
  left:-150px;
  width:500px;
}

nav ul ul li {
  text-align: center;
  display: block;
  padding: 0;  
  margin: 0;
}

nav ul ul li a {
  font-size:1rem;
  padding: 5px 20px; 
  margin: 0;
  height: 30px;
  line-height: 30px;
  color:white;  
}

nav ul li section:hover a {
  color: #ccc;
  transition:ease-in all 200ms;
  -webkit-transition:ease-in all 200ms;
}

nav ul ul li:hover a {
  margin: 0;
  color:  $primarycolor;
  transition:ease-in all 200ms;
  -webkit-transition:ease-in all 200ms;
}


/*  --------------------------------------- Hero Buttons------------------ */


#random-button {
    font-size: 3rem;
    position: absolute;
    z-index: 7;
    padding: 5px;
    right:50px;
    top:145px;
    cursor: pointer;
    color:$backgroundcolor;
    border:2px solid $backgroundcolor;
}

#random-button:hover {
  background-color: rgba(0,0,0,0.1);
}

.mostrecent-button {
    font-size: 3rem;
    position: absolute;
    z-index: 7;
    padding: 5px;
    left:50px;
    top:145px;
    cursor: pointer;
    color:$backgroundcolor;
    border:2px solid $backgroundcolor;
}

.mostrecent-button:hover {
  background-color: rgba(0,0,0,0.1);
}

/*  --------------------------------------- Icon Bar ------------------ */
 .search-button, .login-button {
  position: fixed;
  margin-top:27px;
  cursor: pointer;
  float: right;
  padding: 10px;  
  z-index: 10;
 } 

 .search-button {
  right:180px;
 }

 .search-button i, .login-button i {
  font-size: 1.5rem;
}

.search-button:hover, .login-button:hover {
  color: $primarycolor;
}

.login-button {
  right:72px;
  text-align: center;
  width: 90px;
}

.user-pop-up {
  position: fixed;
  top:50px;
  right:8px;
  display: none;  
}

.user-login {
  text-decoration: none;
  color: #fff;
}

.current-user {
  text-align: center;
  color: #fff;
  display:block;
  padding: 3px;
  font-weight: 400;
  font-size: 1rem; 
  text-decoration: none;
}

.user-logout {
  display:none;
  position:relative;
  margin-right: 4px;
  text-align:center;
  text-decoration: none;
  color: #fff;
}

.login-button:hover .user-logout {
  display: block;
}

.current-user:hover {
  color:$primarycolor;
}

.user-login:hover {
  color:$primarycolor;
}
.user-logout:hover {
  color:$primarycolor;
  }




/*--------------------------------------- Side Bar ------------------ */

.extra-button, {
  position: fixed;
  top:0;
  right: 0;
  margin-top:27px;
  margin-right: 27px;
  cursor: pointer;
  float: right;
  padding: 10px;
  z-index: 13;
}

.extra-button i {
  font-size: 1.5rem;
}

.extra-button:hover{
  color: $primarycolor;
}

.sidebar {
  height: 100%;
  right:-200px;
  margin-top:100px;
  background-color: $backgroundcolor;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

[data-sidebar] {
 display: none;
 position: fixed;
 height: 100%;
 width:200px;
 z-index: 12;
}

.sidebar-buttons {
  line-height: 75px;
}

.sidebar-buttons ul {
  margin: 0;
}
.sidebar-buttons ul li {
  list-style: none;
}

.sidebar-buttons ul li a {
  text-align:center;
  padding:10px;
  font-size:1rem;
}

.new-post {
  text-decoration: none;
  color:#fff;
}

.static-links {
  position: absolute;
  bottom:110px;
}
.static-pages {
  text-decoration: none;
  color:#fff;
}

.sidebar-buttons ul li a:hover {
  color:  $primarycolor;
}


[data-sidebar-dimmer] {
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 bottom:0;
 opacity: 0;  
 width: 100%;
 z-index: 11;
}

.dimmer { 
  background-color: #000; 
}




/*--------------------------------------- Content --------------------------------------*/
.content {
  padding-bottom: 30px;
}

.breaker {
  height:20px;
  width: 100%;
  display:inline-block;
}
.contentBox {
  width:100%;
  display:inline-block;
  float:left;
  margin: 0;
  padding: 0;
}

.main-container {
  display:inline-block;
  cursor: pointer;
  width:49.2%;
  float: left;
  position:relative;
  overflow: hidden;
  margin:0.4%;
  text-decoration: none;
  border-radius: 0px;
  z-index: 3;
}

/* - -  - - - - - - - Voting  - - - - -  */

.vote-wrapper {
  position: absolute;
  font-size: 2.5rem;
  z-index: 10;
  text-align: center;
  width: 100px;
}

.vote-wrapper a{
  position: relative;
  text-decoration: none;
  color: white;
  width: 100%;
}

.bookmark-wrapper {
  float:right;
  position: absolute;
  font-size: 2.5rem;
  z-index: 10;
  text-align: center;
  width: 100px;
  background: grey;
}
.video {
  border-radius:3px;
}

.post-container img {
  width:100%;
}

.post-container a {
  text-decoration: none;
}


.link-container {
  width:100%;
  height: 332px;
  position:relative; 
  border:0px;
}

iframe {
  width:100%;
  height: 332px;
  position:relative; 
  border:0px;
}

#icon {
  width: 83px; 
  height: 90px;
  position: absolute;
  left: 252.5px;
  top: 126px;
  opacity: 0.8;
}

.overlay {
  position:absolute;
  cursor: pointer;
  padding: 0;
  bottom:-332px;
  margin: 0;
  height: 100%;
  width:100%;
  opacity: 0;
  transition: ease-in all 100ms;
  z-index:4;
}

.post-container:hover .overlay{
  -webkit-transform: translate(0,-332px); 
  background: -webkit-radial-gradient( center,ellipse cover, rgba(0,0,0,0.05) 0%,rgba(0,0,0,1) 100%);
  opacity: 0.99;
}


.post-information {
  display: block;
  margin-left: 70px;
  margin-top: 220px;
  opacity: 1;
  color:  $primarycolor;
}

.post-description {
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.created-at {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.pagination a, .pagination em , .pagination span {
  display:none;
}

/*------------------------------------------Footer--------------------------------------*/

.footer {
  height:20px;
  bottom:0px;
  left:0px;
  right:0px;
  position:fixed;
  background-color: rgba(0,0,0,0.7);
  z-index:15;
} 

.footer a {                 
  font-size:0.5rem;
  position:fixed;
  bottom:5px;
  color: $primarycolor;
  text-decoration:none;
  font-weight:400;
  right:10px;
}


/*------------------------------------------New Post Form-----------------------------------------*/

.new-post-container {
  position: absolute;
  top:375px;
  left:200px;
}
.new-header {
  text-align: center;
  line-height: 100px;
  font-size: 2rem;
  margin-bottom: 0;
  height: 70px;
}

.add-url input {
  border-radius: 10px;
  width: 600px;
  line-height: 2rem;
  padding: 1px 10px;
}

.add-desc input {
  border-radius: 10px;
  width: 600px;
  height: 200px;
  line-height: 1.5rem;
  font-size: 1.5rem;
  color: $primarycolor;
  padding: 1px 10px;
}

.add-actions {
  margin: 20px 0 0 0;
}

.add-actions input {
  text-align: center;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 1.2rem;
}

.add-container {
  text-align: center;
}

.back-container {
  text-align: center;
  margin: 20px 0 50px 0;
}

.back-button {
  color: white;
  text-decoration: none;
}

