/*-------------------------------------Main Style---------------------------------------*/

body {
  background: #000C17;
  color :white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

::-webkit-scrollbar {
  display:none;
}

.wrapper {
  width:100%;
}

/*--------------------------------------Cover pic---------------------------------------*/

.cover-photo { 
  width:100%;
  margin: 0 0 4px 0;  
  max-height:300px;
  float: left;
  position: relative;
  overflow:hidden;
  /*opacity:0.7;*/
  -moz-border-radius: 3px;
  -webkit-border-radius:3px;
  border-radius: 3px;
}
  
.cover-photo img { 
  position:relative;  
  top:-250px;
  width:100%; 
}


/*----------------------------------------Search----------------------------------------*/



/*--------------------------------------Main Title--------------------------------------*/

.header {                         
  width:100%;
  height: 100px;
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  z-index: 999;
} 

/*--------------------------------------Home button--------------------------------------*/
.header .logo {
  float: left;
  margin: 0;  
  padding: 0;
}
.header .logo a {
  position:relative;
  font-size:30px;
  line-height: 100px;
  font-weight:500;
  z-index:1;
  text-decoration: none;
  color:orange;
  padding: 40px;
}


/*------------------------------------Title Bar/Drop Down--------------------------------*/

.main-header {
  line-height: 100px;
  float: left;
  z-index: 1000;
  margin-left: 170px;
  
}

.healthy-header, .wealthy-header, .wise-header {
  width:150px;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  float: left;
  margin: 0px 30px;
  position: relative;
}

nav ul li:hover ul {
  display: block;
}


nav ul li a {
  display: block; 
  color:white;
  text-decoration: none;
  font-size: 35px;
}

nav ul ul {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  border-radius: 0px 0px 5px 5px;
}

.healthy-scroll {
  left:-15px;
  width: 185px;
}

.wealthy-scroll {
  left:-25px;
  width: 200px;
}

.wise-scroll {
  left:-150px;
  width:480px;
}

nav ul ul li {
  text-align: center;
  display: block;
  padding: 0;  
  margin: 0;
}

nav ul ul li a {
  font-size:15px;
  padding: 5px 20px; 
  margin: 0;
  height: 30px;
  line-height: 30px;
  color:white;  
}

nav ul li section:hover a {
  color: #ccc;
  transition:ease-in all 200ms;
  -webkit-transition:ease-in all 200ms;
}

nav ul ul li:hover a {
  margin: 0;
  color: orange;
  transition:ease-in all 200ms;
  -webkit-transition:ease-in all 200ms;
}

/*--------------------------------------- Buttons ------------------ */

.buttons {
  position: fixed;
  float: right;
  right:0;
  margin: 0;
  z-index: 1000;
  line-height: 100px;
  font-size:17px;
}

.buttons ul {
  margin: 0;
}
.buttons ul li {
  display: inline;
}

.buttons ul li a {
  text-align:center;
  padding:10px;
  margin: 5px;
}

.new-post {
  text-decoration: none;
  color:#fff;
}

.buttons ul li a:hover {
  color: #ccc;
}

.random-button{
  margin: 50px;
  float: left;
  top:100px;
  left:100px;
  position: absolute;
}

/*--------------------------------------- Content --------------------------------------*/

.contentBox {
  width:100%;
  display:inline-block;
  float:left;
  margin: 0;
  padding: 0;
}

.video {
  border-radius:3px;
}

.vid-container { 
  display:inline-block;
  width:49.2%;
  float: left;
  position:relative;
  overflow: hidden;
  margin:0.4%;
  text-decoration: none;
  border-radius: 0px;
  z-index: 50;
}

.vid-container img {
  width:100%;
}

.vid-container a {
  text-decoration: none;
}


iframe {
  width:100%;
  height: 332px;
  position:relative; 
  border:0px;
}

#icon {
  width: 83px; 
  height: 90px;
  position: absolute;
  left: 252.5px;
  top: 126px;
  opacity: 0.8;
}

.overlay {
  position:absolute;
  cursor: pointer;
  padding: 0;
  bottom:-166px;
  margin: 0;
  height: 166px;
  width:100%;
  opacity: 0;
  transition: ease-in all 100ms;
  z-index:9999;
  color: orange;
  font-size: 23px;
  line-height: 166px;
  text-align: center;
}

.vid-container:hover .overlay{
  -webkit-transform: translate(0,-166px); /* Safari */
  background-color: black;
  opacity: 0.8;
}

.post-desc {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width:450px;
}



/*------------------------------------------Footer--------------------------------------*/

.footer {
  height:20px;
  bottom:0px;
  left:0px;
  right:0px;
  position:fixed;
  background-color: rgba(0,0,0,0.7);
  z-index:2;
} 

.footer a {                 
  font-size:8px;
  position:fixed;
  bottom:5px;
  color:orange;
  text-decoration:none;
  font-weight:400;
  right:10px;
}


/*------------------------------------------New Post Form-----------------------------------------*/

.new-post-container {
  position: absolute;
  top:375px;
  left:200px;
}
.new-header {
  text-align: center;
  line-height: 100px;
  font-size: 2rem;
  margin-bottom: 0;
  height: 70px;
}

.add-url input {
  border-radius: 10px;
  width: 600px;
  line-height: 2rem;
  padding: 1px 10px;
}

.add-desc input {
  border-radius: 10px;
  width: 600px;
  height: 200px;
  line-height: 1.5rem;
  font-size: 1.5rem;
  color:orange;
  padding: 1px 10px;
}

.add-actions {
  margin: 20px 0 0 0;
}

.add-actions input {
  text-align: center;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 1.2rem;
}

.add-container {
  text-align: center;
}

.back-container {
  text-align: center;
  margin: 20px 0 50px 0;
}

.back-button {
  color: white;
  text-decoration: none;
}

