/*-------------------------------------Constants---------------------------------------*/


$bluecolor: #81B6DB;  // blue  //
$greencolor: #77DD77;    // green // 
$redcolor: #FF4955;   // red //
$orangecolor: #FFB246;   // orange //
$whitecolor: #fff;     // white // 


/*-------------------------------------Main Style---------------------------------------*/

body {
  background:$whitecolor;
  color:#fff;
  margin:0;
  padding: 0;
  font-family:'Roboto',sans-serif;
  font-weight:200;
  font-size:67.5%
}

::-webkit-scrollbar {
  display:none
}

.wrapper {
  margin: 0;
  width:100%
}

/*--------------------------------------Cover pic---------------------------------------*/

.cover-photo {
  width:100vw;
  height: 100vh;
  margin:0;
  float:left;
  position:relative;
  overflow:hidden;
  -webkit-border-radius:3px;
  border-radius:3px
}

.cover-photo img {
  width:100%;
}

// .cover-photo iframe{
//   width:100%;
//   height: 120vh;
//   overflow-y:hidden;
//   z-index:-5;
// }

.img-cover {
  position: absolute;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
  width:100%;
  height:100vh;
  background-color:$bluecolor;
  opacity: 0.7;
}

/*----------------------------------------Search----------------------------------------*/
/*--------------------------------------Main Title--------------------------------------*/
.header {
  width:100%;
  height:10vh;
  position:fixed;
  background-color:$redcolor;
  // box-shadow:0 0 10px 0 rgba(0,0,0,0.6);
  z-index:8;
  opacity: 0.95;
}

/*--------------------------------------Home button--------------------------------------*/
.header .logo {
  float:left;
  margin:0;
  padding:0
}

.header .logo a {
  position:relative;
  font-size:2rem;
  margin: 0;
  line-height:10vh;
  font-weight:500;
  text-decoration:none;
  color:$whitecolor;
  padding:20px 30px 15px 40px
}

/*------------------------------------Title Bar/Drop Down--------------------------------*/
.main-header {
  line-height:10vh;
  float:left;
  z-index:5;
  margin-left:170px
}

.healthy-header,.wealthy-header,.wise-header {
  width:150px;
  height: 10vh;
  text-align:center
}

nav ul {
  padding:0;
  margin:0;
  list-style:none
}

nav ul li {
  float:left;
  margin:0 30px;
  position:relative
}

nav ul li:hover ul {
  display:block
}

nav ul li a {
  display:block;
  color:#fff;
  text-decoration:none;
  font-size:2.5rem
}

nav ul ul {
  display:none;
  z-index: 2;
  position:absolute;
  background-color:$bluecolor;
  border-radius:0 0 3px 3px; 
}

.healthy-scroll {
  left:-15px;
  width:190px
}

.wealthy-scroll {
  left:-25px;
  width:210px
}

.wise-scroll {
  left:-150px;
  width:500px
}

nav ul ul li {
  text-align:center;
  display:block;
  padding:0;
  margin:0
}

nav ul ul li a {
  font-size:1rem;
  padding:5px 20px;
  margin:0;
  height:25px;
  line-height:25px;
  color:#fff
}

nav ul li section:hover a {
  color:$bluecolor;
  transition:ease-in all 200ms;
  -webkit-transition:ease-in all 200ms
}

nav ul ul li:hover a {
  margin:0;
  color:$redcolor;
  transition:ease-in all 200ms;
  -webkit-transition:ease-in all 200ms
}

/*  --------------------------------------- Hero Buttons------------------ */

.hero-buttons{
  position: absolute;
  z-index:7;
  top:350px;
  margin-left:450px;
}
#random-button,.mostrecent-button {
  font-size:1.5rem;
  position:relative;
  padding:10px;
  cursor:pointer;
  text-decoration:none;
  color:$whitecolor;
  border:2px solid $whitecolor;
  border-radius: 3px;
}

.start-watching {
  font-size:2rem;
  width:100%;
  position:absolute;
  text-align:center;
  cursor:default;
  z-index:7;
  padding:5px;
  left:0;
  margin: 0;
  padding: 0;
  top:500px;
  color:$whitecolor;
}

.scroll-to-content {
  font-size:3rem;
  width:100%;
  position:absolute;
  text-align:center;
  z-index:7;
  padding:5px;
  left:0;
  margin: 0;
  padding: 0;
  top:560px;
  color:$whitecolor; 
}

.scroll-arrow {
  cursor: pointer;
  padding: 10px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1)}
    50% {-webkit-transform: scale(1.15)}
    100% {-webkit-transform: scale(1)}
}

.mostrecent-button {
  display:inline-block;
  float: left;
  margin-right:25px
}

#random-button {
  display:inline-block;
  float: right;
  margin-left:20px
}

.hero-phrase {
  font-size:3rem;
  width:100%;
  position:absolute;
  text-align:center;
  cursor:default;
  z-index:7;
  padding:5px;
  left:0;
  margin: 0;
  padding: 0;
  top:200px;
  color:$whitecolor;
}

#random-button:hover , .mostrecent-button:hover {
  background-color: $whitecolor;
  color: $bluecolor;
}

/*  --------------------------------------- Icon Bar ------------------ */
.search-button,.login-button {
  position:fixed;
  margin-top:1.6vh;
  cursor:pointer;
  float:right;
  padding:10px;
  z-index:10
}

.search-button {
  right:180px
}

.search-button i,.login-button i {
  font-size:1.5rem
}

.search-button:hover,.login-button:hover {
  color:$bluecolor
}

.login-button {
  right:72px;
  text-align:center;
  width:90px
}

.user-pop-up {
  position:fixed;
  top:50px;
  right:8px;
  display:none
}

.user-login {
  text-decoration:none;
  color:#fff
}

.current-user {
  text-align:center;
  color:#fff;
  display:block;
  padding:3px;
  font-weight:400;
  font-size:1rem;
  text-decoration:none
}

.user-logout {
  display:none;
  position:relative;
  margin-right:4px;
  text-align:center;
  text-decoration:none;
  color:#fff
}

.login-button:hover .user-logout {
  display:block
}

.extra-button, {
  position:fixed;
  top:0;
  right:0;
  margin-top:1.75vh;
  margin-right:3vh;
  cursor:pointer;
  float:right;
  padding:10px;
  z-index:13
}

.extra-button i {
  font-size:1.5rem
}

.extra-button:hover , .current-user:hover , .user-logout:hover , .user-login:hover {
  color:$bluecolor
}

/*--------------------------------------- Side Bar ------------------ */


.sidebar {
  height:100%;
  right:-200px;
  margin-top:10vh;
  background-color:$bluecolor;
  // box-shadow:0 0 10px 0 rgba(0,0,0,0.5);
}

[data-sidebar] {
  display:none;
  position:fixed;
  height:100%;
  width:200px;
  z-index:12
}

.sidebar-buttons {
  line-height:75px
}

.sidebar-buttons ul {
  margin:0
}

.sidebar-buttons ul li {
  list-style:none
}

.sidebar-buttons ul li a {
  text-align:center;
  padding:10px;
  font-size:1rem
}

.new-post {
  text-decoration:none;
  color:#fff
}

.static-links {
  position:absolute;
  bottom:110px
}

.static-pages {
  text-decoration:none;
  color:#fff
}

.sidebar-buttons ul li a:hover {
  color:$redcolor
}

[data-sidebar-dimmer] {
  display:none;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  opacity:0;
  width:100%;
  z-index:11
}

.dimmer {
  background-color:#000
}

/*--------------------------------------- Content --------------------------------------*/
.content {
}

.contentBox {
  width:100%;
  float:left;
  margin:0;
  padding:0
}

.main-container {
  cursor:pointer;
  width:50%;
  float:left;
  position:relative;
  overflow:hidden;
  margin:0%;
  text-decoration:none;
  border-radius:0;
  z-index:3;
}

.post-container img {
  width:100%
}

.post-container a {
  text-decoration:none
}

.link-container {
  width:100%;
  height:45vh;
  position:relative;
  border:0
}

iframe {
  width:100%;
  height:45vh;
  position:relative;
  border:0
}

.overlay {
  position:absolute;
  cursor:pointer;
  padding:0;
  bottom:-332px;
  margin:0;
  height:100%;
  width:100%;
  opacity:0;
  transition:ease-in all 300ms;
  z-index:4
}

.post-container:hover .overlay {
  -webkit-transform:translate(0,-332px);
  background:$redcolor;
  opacity:.9
}

.post-information {
  display:block;
  margin-left:70px;
  margin-top:220px;
  opacity:1;
  color:$bluecolor
}

.post-description {
  font-weight:500;
  margin:0;
  padding:0;
  font-size:2rem
}

.created-at {
  margin:0;
  padding:0;
  font-size:1rem
}

.pagination a,.pagination em,.pagination span {
  display:none
}

/* - -  - - - - - - - Voting  - - - - -  */
.vote-wrapper {
  position:absolute;
  font-size:2.5rem;
  z-index:10;
  text-align:center;
  width:100px
}

.vote-wrapper a {
  position:relative;
  text-decoration:none;
  color:#fff;
  width:100%
}

/*- - - - - - - - - - - Bookmarks - - - -  - - - - - - - - - - */

.bookmark-wrapper {
  float:right;
  position:absolute;
  font-size:2.5rem;
  z-index:10;
  text-align:center;
  width:100px;
  background:grey
}


/*------------------------------------------New Post Form-----------------------------------------*/
.new-post-container {
  position:absolute;
  top:375px;
  left:200px
}

.new-header {
  text-align:center;
  line-height:100px;
  font-size:2rem;
  margin-bottom:0;
  height:70px
}

.add-url input {
  border-radius:10px;
  width:600px;
  line-height:2rem;
  padding:1px 10px
}

.add-desc input {
  border-radius:10px;
  width:600px;
  height:200px;
  line-height:1.5rem;
  font-size:1.5rem;
  color:$redcolor;
  padding:1px 10px
}

.add-actions {
  margin:20px 0 0
}

.add-actions input {
  text-align:center;
  border-radius:10px;
  width:200px;
  height:50px;
  font-weight:700;
  font-size:1.2rem
}

.add-container {
  text-align:center
}

.back-container {
  text-align:center;
  margin:20px 0 50px
}

.back-button {
  color:#fff;
  text-decoration:none
}

.field {
  color:$redcolor;
}

