// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*-------------------------------------Constants---------------------------------------*/

$blue: #81B6DB;  // blue  //
$green: #77DD77;    // green // 
$red: #FF4959;   // red //
$darkred: #EE4558; // darker red //
$lightred: #FFD8E8; // light red//
$orange: #FFB246;   // orange //
$white: #fff;     // white // 
$black: #000; // black //
$grey: #eee; // lightgrey //
$purple: #8171B6; // lightgrey //


.static-page-header {
      position: absolute;
      width:50%;
      text-align: center;
      font-size: 2.2rem;
      padding: 0;
      margin-top: 2vh;
      margin-left:25%;
      font-weight:400;
}


.about-content, .contact-content, .help-content , .copyright-content{
	position: fixed;
	width:60%;
	font-size: 1.25rem;
	top:15vh;
	text-align: center;
	margin: 0 20%;
}
