<div class="hero-cover-other">
	<% if current_page?('/profile') || current_page?('/shuffle') %>
	    <div class="blue-img-cover"></div>
	    <%= image_tag('blurred-cover-photo', class: 'cover-photo-img') %> 
	<% else %>
	  <%= link_to root_path do %>
	    <div class="blue-img-cover"></div>
	  <% end %>
	<% end %>
</div>