<div class="hero-cover-other">
	  <% if current_page?('/shuffle') %>
	    <div class="blue-img-cover"></div>
	<% else %>
	  <%= link_to root_path do %>
	    <div class="blue-img-cover"></div>
	  <% end %>
	<% end %>
</div>