<% if params[:p] == "shuffle" %>
	<div class="shuffle-section">
                <%= link_to 'Shuffle again!' , posts_shuffle_path(p: "shuffle") , class: 'shuffle-button-show' %>
           </div>
<% end %>