<div class="search-button">
    <i class="fa fa-search search-icon"></i>
    <input type="text" style="text-transform: uppercase" class="search-input" name="search" placeholder="SEARCH TEA"></input>
</div> 