<div class="header" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
      <div class="nav-down">
          <%= render 'logo' %>        

          <%= render 'extra' %>

          <%= render 'login' %>        
        
      </div>
    </div>