<div class="hero-cover">
              <%= link_to root_path do %>
                <div class="blue-img-cover"></div>
                <%= image_tag('blurred-cover-photo' ,class: 'cover-photo-img') %> 
              <% end %>
</div>

