<div class="header" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
      <div class="nav-down">
          <%= render 'logo' %>  

          <h2 class="static-page-header"><%= @title %></h2>      

          <%= render 'extra' %>

          <%= render 'login' %>        
        
      </div>
    </div>