<div class="about-content static-content">
	<p>It is now easier than ever, thanks to all the incredible information available a few clicks away, to be like the master of autodictacticism, Leonardo Da Vinci.</p>
	<p>The content itself comes from a range of YouTube creators, bloggers, video makers and online journalists. We owe a huge thanks to all of these creators who have allowed us to educate ourselves for the years gone, and for all the future knowledge that we personally will acquire through the internet.
	      (This website itself was built and developed through free internet sources that taught us the basics of coding.) Please share, like, support and subscribe to all the content and sources that you've found informative and engaging.
	<p>A library of inspiring, engaging and informative media, bringing together the very best of the freely available sources of education from all corners of the web (Mostly YouTube.) TEA is a nearly endless supply of enlightening content. </p>

	<p>If you have any videos or articles that you think could be added to the archive or have any feedback about our website we'd love to hear from you. Drop us an email at: <br>
	
	<br><a href="mailto:theteam@eternalarchive.co.uk" target="_top" class="mail-to-about">theteam@eternalarchive.co.uk</a></p>
</div>
